<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="teste"/>
<stringAttribute key="JOB_PROJECT_TECH_LABEL" value="TESTE"/>
<stringAttribute key="TALEND_JOB_ID" value="_J0hEcLK-EeurhPPk9sdX9A"/>
<stringAttribute key="TALEND_JOB_NAME" value="teste_tes"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
